Repository internxt/drive-web, changes with the owners that CODEOWNERS names for each.
All owners: @CandelR, @internxt/cryptography, @internxt/marketing, @xabg2

CODEOWNERS:

*       @CandelR

/src/app/network/ @internxt/cryptography
/src/app/crypto/ @internxt/cryptography
/src/app/core/services/stream.service.ts @internxt/cryptography
/src/app/crypto/services/pgp.service.ts @internxt/cryptography
/src/upload.worker.ts @internxt/cryptography
/src/app/analytics/ @internxt/marketing
/src/app/theme/userThemes.service.ts @internxt/marketing
/src/app/payment @xabg2

Adapt backupKeyUtils test to b64 ecc encrypted
  src/app/utils/backupKeyUtils.test.ts
Owners: @CandelR

fix: dropdown styles
  src/app/payment/components/checkout/AvailableCryptoCurrenciesDropdown.tsx
Owners: @xabg2

feat: logic to handle crypto payments
  src/app/payment/hooks/useUserPayment.test.ts
  src/app/payment/hooks/useUserPayment.ts
  src/app/payment/services/checkout.service.ts
Owners: @xabg2

feat(checkout): verify crypto payment EP
  src/app/contexts/dialog-manager/ActionDialogManager.context.tsx
  src/app/payment/hooks/useUserPayment.ts
  src/app/payment/services/checkout.service.ts
Owners: @CandelR, @xabg2

tests(cehckout): add coverage for crypto payments in invoices
  src/app/payment/hooks/useUserPayment.test.ts
Owners: @xabg2

[skip ci] Bump version v1.0.505
  package.json
Owners: @CandelR

[skip ci] Bump version v1.0.506
  package.json
Owners: @CandelR

tests: unmock SDK and reset modues before running tests
  src/app/payment/hooks/useUserPayment.test.ts
Owners: @xabg2

fix: types
  src/app/payment/types.ts
Owners: @xabg2

feat: pass the encoded invoice Id token to the dialog
  src/app/payment/hooks/useUserPayment.test.ts
  src/app/payment/hooks/useUserPayment.ts
Owners: @xabg2

[skip ci] Bump version v1.0.507
  package.json
Owners: @CandelR

feat: crypto payment dialog
  src/app/i18n/locales/de.json
  src/app/i18n/locales/en.json
  src/app/i18n/locales/es.json
  src/app/i18n/locales/fr.json
  src/app/i18n/locales/it.json
  src/app/i18n/locales/ru.json
  src/app/i18n/locales/tw.json
  src/app/i18n/locales/zh.json
  src/app/payment/components/checkout/CryptoPaymentDialog.tsx
  src/app/payment/services/checkout.service.ts
  src/app/payment/views/IntegratedCheckoutView/CheckoutView.tsx
  src/app/payment/views/IntegratedCheckoutView/CheckoutViewWrapper.tsx
Owners: @CandelR, @xabg2

tests: fix mocked imports
  src/app/payment/hooks/useUserPayment.test.ts
Owners: @xabg2
